{% extends 'base.html' %}

{% block base_body %}

<div id = "bio">
    {% block bio %}
    {% endblock bio%}
</div>

<div id="reviews">
<h2> REVIEWS </h2>

</div>

<div id ="add_review">
<ol>
{% for review in reviews %}
{% include "display_review.html" %}
{% endfor %}
</ol>
</div>


{% endblock base_body %}

{% comment %} 
<script>
    function Disable(){
  document.getElementById("add_review").style.visibility = "visible"
  }
</script>
<div id = "add_review" style="visibility:hidden">

{% if user.is_authenticated %}
    <p> Congrats now u can add a comment </p>
{% else %}
<p> You must be logged in to add a review
    <a href= "{% url 'login' %}?redirect_to={{request.path}}"> Click here to login </a>
{% endif %}
 

</div>
{% endcomment %}