{% extends 'base.html' %}

{% block base_body %}
<h1> Hello {{user.first_name}} </h1>
<ul>
<li> Username: {{user.username}}
<li> Email Address : {{user.email}}
<li> Trust : {{user.credibility.trust}}
</ul>
{% if user.warnings_set.all %}
<ol>
{% for warning in user.warnings_set.all %}
<li> <textarea cols = "40" rows = "10" readonly> {{warning.message}}</textarea>
{% endfor %}
</ol>
{% endif %}
<h2><u> Recent Reviews </u></h2>

<ol>
{% for review in reviews %}
    <h3> Timestamp : {{review.timestamp}} </h3>
    {% include "display_review.html" %}
    
{% endfor %}
</ol>
{% endblock base_body %}

